html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Space Mono', monospace;
/*   margin: 2em; */
  font-size: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

h1 {
  font-style: italic;
  font-size: 4em;
  margin: 10px;
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  list-style-position: outside;
  position: relative;
  left: -20px;
  column-count: 2;
}

#achievements-cont {
  display: flex;
   flex-direction: column;
/*   width: 200px; */
  text-align: center;
  width: 40vw;
  min-width: 400px;
/*   height: 30vh; */
  margin: auto;
   
}

#extra {
/*   visibility: hidden; */
  margin: 10px;
}

#extra > button{
  font-weight: bold;
  font-size: 18px;
  
}

table {
  background-color: #d3d3d3;
  padding: 10px;
  border-radius: 5px;
}

/* CUBBY ---------- */

.cubby {
/*   background-image: url('https://cdn.glitch.com/248c7c49-a121-48d3-a384-6862ab105334%2FScreen%20Shot%202019-09-19%20at%2012.52.47%20AM.png?v=1568868822781');
  background-repeat: no-repeat; */
  width: 272px;
  height: 453px;
}

.eye {
  border: 6px solid black;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color:  rgb(0, 0, 0);
  position: relative;
  
}

#eye1 {
  left: 63px;
  top: 115px;
}

#eye2 {
  left: 145px;
  top: 45px;
}
  
/* MENU ---------- */
.menulabel {
  font-weight: bold;
  padding: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: black;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

#red-slider::-webkit-slider-thumb {
  background: red;
}

#red-slider::-moz-range-thumb {
  background: red;
}

#green-slider::-webkit-slider-thumb {
  background: green;
}

#green-slider::-moz-range-thumb {
  background: green;
}

#blue-slider::-webkit-slider-thumb {
  background: blue;
}

#blue-slider::-moz-range-thumb {
  background: blue;
}

.red {
  background-color:rgb(227, 82, 82);
}
.red:active {
  background-color:red;
}
.green:active {
  background-color:green;
}
.blue:active {
  background-color:blue;
}

.green {
  background-color: rgba(130,200,160,1);
}

.blue {
  background-color: rgb(102,152,203);
}
.red:active, .green:active, .blue:active {
  border-width: 0px 1px 3px 1px;
  height: 20px;
}

.red, .green, .blue {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  border-color:rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px 1px 5px 1px;
  color: white;
  padding-bottom:4px;
  padding-top:4px;
  position:relative;
  text-align:center;
}

/* FOOTER ---------- */
footer {
  margin-top: 20px;
}
.gradient {
  background: -webkit-gradient(linear,left top,right top,from(red),to(green),to(blue));
  background: linear-gradient(to right,red,green,blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
  font-style: italic;
  border-bottom: 1px solid black;
}

a:hover {
  border-bottom: 2px solid black;
}

#extra > button {
  height: 3em;
  border-radius: 5px;
  border: 2px solid black;
}

#party:hover {
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {background-background-color: #ff0000;}
10% {background-color: #ff8000;}
20% {background-color: #ffff00;}
30% {background-color: #80ff00;}
40% {background-color: #00ff00;}
50% {background-color: #00ff80;}
60% {background-color: #00ffff;}
70% {background-color: #0080ff;}
80% {background-color: #0000ff;}
90% {background-color: #8000ff;}
100% {background-color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {background-color: #ff0000;}
10% {background-color: #ff8000;}
20% {background-color: #ffff00;}
30% {background-color: #80ff00;}
40% {background-color: #00ff00;}
50% {background-color: #00ff80;}
60% {background-color: #00ffff;}
70% {background-color: #0080ff;}
80% {background-color: #0000ff;}
90% {background-color: #8000ff;}
100% {background-color: #ff0080;}
}
@-o-keyframes rainbow {
0% {background-color: #ff0000;}
10% {background-color: #ff8000;}
20% {background-color: #ffff00;}
30% {background-color: #80ff00;}
40% {background-color: #00ff00;}
50% {background-color: #00ff80;}
60% {background-color: #00ffff;}
70% {background-color: #0080ff;}
80% {background-color: #0000ff;}
90% {background-color: #8000ff;}
100% {background-color: #ff0080;}
}
@keyframes rainbow {
0% {background-color: #ff0000;}
10% {background-color: #ff8000;}
20% {background-color: #ffff00;}
30% {background-color: #80ff00;}
40% {background-color: #00ff00;}
50% {background-color: #00ff80;}
60% {background-color: #00ffff;}
70% {background-color: #0080ff;}
80% {background-color: #0000ff;}
90% {background-color: #8000ff;}
100% {background-color: #ff0080;}
}

#makewhite > span {
  background-color: black;
}

@media (max-width: 768px) {
  ul {
   column-count: 1;
  }
  h1 {
    font-size: 3em;
  }
}